body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
}
.app {
  text-align: center;
  padding-top: 80px;
}
input {
  padding: 10px;
  width: 220px;
  margin-right: 10px;
}
button {
  padding: 10px 15px;
  cursor: pointer;
}
.weather-box {
  background: white;
  padding: 20px;
  margin: 30px auto;
  width: 300px;
  border-radius: 10px;
}
.loader {
  color: blue;
  margin-top: 20px;
}
.error {
  color: red;
  margin-top: 20px;
}
